body {
    margin: 0;
    padding: 0;
}

* {
    color: cornflowerblue;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    height: 80px;
    background-color: #efe9e3;
}

.header .icon {
    flex: 50%;
    padding-top: 20px;
    padding-left: 30px;
}

.header .link {
    flex: 25%;
    padding-top: 40px;
    padding-right: 10px;
}

.header a {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: cornflowerblue;
    padding: 12px;
    border-radius: 12px;
}

.header .active {
    background-color: cornflowerblue;
    padding: 12px;
    color: white;
}

.header .link .hide {
    visibility: hidden;
    position:absolute;

}

.header .link:hover .hide {

  visibility: visible;
}

.first .left {
    height: 500px;
    background-image: url('Landing+page+1+copy.jpg');
    color: cornflowerblue;
    padding: 70px;
    padding-top: 140px;
    font-size: 24px;
    padding-left: 150px;
}
/* first section style */

.first .left h1,
p {
    text-transform: uppercase;
}

.first .left p {
    font-size: 18px;
}

.second {
    height: 1000px;
}

.second .a {
    width: 400px;
    padding: 30px;
    margin-left: 150px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 2px 1px 12px cornflowerblue;
    float: left;
    margin-top: 100px;
}

.second .a button:hover {
    text-shadow: 1px 1px 13px gray;
}

.second .b {
    margin-top: 100px;
    width: 400px;
    padding: 30px;
    margin-right: 150px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 2px 1px 12px cornflowerblue;
    float: right;
}

.second .b button:hover {
    text-shadow: 1px 1px 13px gray;
}
/* this is tree part style */

.tree {
    background-color: #efe9e3;
    height: 300px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New';
}

.tree .a {
    margin-top: 50px;
    display: inline-block;
    width: 300px;
}

.tree .b {
    display: inline-block;
    width: 300px;
}

.tree .c {
    display: inline-block;
    width: 300px;
}
/* comment section */

.comment {
    display: flex;
    height: 400px;
    padding: 20px;
    background-color: #efe9e3;
}

.comment .ac {
    flex: 25%;
    height: 300px;
    border-radius: 14px;
    margin-left: 27px;
    width: 25%;
    padding: 10px;
    padding-right: 45px;
    background-color: white;
    box-shadow: 2px 1px 12px cornflowerblue;
}

.comment .ac .img img {
    margin: 10px;
}

.comment .ac .img h1 {
    margin-left: 180px;
    padding-top: 30px;
    width: 150px;
    border-right: 3px solid cornflowerblue;
    padding-right: 58px;
}

.comment .ac p {
    margin: 5px;
    margin-top: 58px;
    font-size: 15px;
    width: 100%;
}

.comment .bc {
    flex: 25%;
    height: 300px;
    border-radius: 14px;
    margin-left: 40px;
    width: 25%;
    padding: 10px;
    padding-right: 45px;
    background-color: white;
    box-shadow: 2px 1px 12px cornflowerblue;
}

.comment .bc .img img {
    margin: 10px;
}

.comment .bc .img h1 {
    margin-left: 180px;
    border-right: 3px solid cornflowerblue;
    padding-right: 207px;
    padding-top: 30px;
}

.comment .bc p {
    margin: 5px;
    margin-top: 40px;
    font-size: 15px;
    width: 100%;
}

.comment .cc {
    flex: 25%;
    height: 300px;
    border-radius: 14px;
    margin-left: 40px;
    width: 25%;
    padding: 10px;
    padding-right: 45px;
    background-color: white;
    box-shadow: 2px 1px 12px cornflowerblue;
}

.comment .cc .img img {
    margin: 10px;
}

.comment .cc .img h1 {
    height: 110px;
    margin-left: 180px;
    padding-top: 30px;
    border-right: 3px solid cornflowerblue;
    padding-right: 208px;
}

.comment .cc p {
    margin: 5px;
    margin-top: 50px;
    font-size: 15px;
    width: 100%;
}
/* this is link section */

.links {
    background-color: white;
    height: 550px;
    padding: 50px;
}

.links .left {
    margin: 20px;
    height: 450px;
    margin-left: 70px;
    margin-top: 100px;
    width: 500px;
    float: left;
}

.links .link img {
    height: 40px;
    margin: 20px;
    padding-right: 20px;
    padding-top: 90px;
}
/* this is four section */

.forth {
    height: 690px;
    background-color: #efe9e3;
}

.forth .left {
    margin: 20px;
    margin-left: 120px;
    padding: 22px;
    padding-top: 100px;
    font-size: 24px;
    width: 500px;
    float: left;
}

.forth .right {
    margin: 80px;
    padding-top: 100px;
}
/* footer the last section of page */
/* This is footer style */

.pa {
    font-size: 20px;
    margin-top: 0px;
    background-color: rgb(55, 145, 219);
    height: 519px;
    width: auto;
    padding-top: 40px;
    padding-left: 15px;
    color: white;
    line-height: 40px;
}

.pa .le {
    width: 45%;
    float: left;
    padding-left: 40px;
}

.pa .le strong {
    text-transform: uppercase;
}

.pa .le a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(211, 198, 198);
}

.pa .le a:hover {
    color: red;
}

.pa .ri {
    height: 61%;
    width: 45%;
    margin-left: 645px;
}

.pa .ri span {
    text-transform: uppercase;
}

.pa .ri input {
    height: 30px;
    width: 250px;
    padding: 10px;
    transition: 1s;
}

input:hover {
    background-color: rgb(58, 153, 231);
    color: white;
    border-color: none;
}

.pa .ri button {
    text-transform: uppercase;
    color: white;
    background-color: rgb(55, 145, 219);
    height: 53px;
    width: 150px;
    padding: 10px;
    border: 2px solid white;
}

button:hover {
    background-color: green;
    text-shadow: 2px 3px 4px black;
    box-shadow: 2px 2px 2px 2px black;
}

.pa .ri {
    color: white;
}

.pa .ri img {
    height: 40px;
    width: 40px;
    padding: 10px;
    margin-right: 15px;
    transition: 1.5s;
    background-color: white;
    border-radius: 30%;
}

.pa .ri img:hover {
    background-color: rgb(236, 19, 19);
    color: white;
    border-radius: 50%;
}

.pa .bo span {
    margin-top: 0px;
    margin-right: 20px;
    text-align: center;
    position: absolute;
    font-size: 15px;
    font-family: cursive;
    word-spacing: 9px;
    color: white;
    left: 37%;
}

.masa {
    margin-top: 0%;
    float: left;
    width: 70px;
    margin-left: 75%;
}

.masa:hover {
    filter: brightness(140%);
}